body {
	display: table;
	width: 100%;
	height: 100vh;
	color: white;
	background: url("img/fundo.jpg") no-repeat bottom center scroll;
	background-position: 30% 45%;
	background-size: cover;
}

#titulo {
	background-color: blanchedalmond;
}

#area-util {
	background-color: rgb(19, 19, 167);
}

#area-util p {
	background-color: darkred;
	color: white;
}

.selectCategoria {
	background-color: darkred;
	color: white;
	border-color: darkred;
}

#alternativas button {
	background-color: darkred;
	color: white;
	border-color: darkred;
}

#alternativas button:hover {
	background-color: green;
	border-color: green;
	font-weight: bold;
}

#alternativas button:checked {
	background-color: green;
	border-color: green;
}

#botoesFuncionais button {
	background-color: darkred;
	color: white;
	border-color: darkred;
}

#botoesFuncionais button:hover {
	background-color: green;
	border-color: green;
	font-weight: bold;
}

#botoesFuncionais button:checked {
	background-color: green;
	border-color: green;
}

#imagens {
	width: 300px;
}

.escondido {
	display: none;
}
